{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Kontakt</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

    {{ form_start(contactForm) }}
        {{ form_row(contactForm.name) }}
        {{ form_row(contactForm.email) }}
        {{ form_row(contactForm.message) }}
        {{ form_row(contactForm.send) }}
    {{ form_end(contactForm) }}
{% endblock %}
